*.pyc
*.swp
*.swo
*.egg-info
*.idea
*.map
*.vim
.DS_Store
.idea/**
\.env
id_rsa

\.venv
.sass-cache/
bin
data/
etc/
venv/
virtualenv-*/
var/
scgi_temp/
*sublime*
gitignored/*
*.ipynb
/.ipynb_checkpoints/
certbot-auto
.vscode/
__pycache__
.coverage
.cache
/users.xml
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/lastfailed
static/uploads/
safeshipper/static/uploads/
