{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul class="mb-0">
        {% for message in messages %}
          <li><span class="alert-text text-white">{{ message }}</span></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}