<!DOCTYPE html>
<html>

<head>
  <title>Search PDF into Google Spreadsheet api</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/nucleo-icons.css')}}">
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/nucleo-svg.css')}}">
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.min.css')}}">
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/argon-dashboard.css')}}">
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='dropzone.css')}}">
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='custom.css')}}">
</head>

<body class="g-sidenav-show bg-gray-100 g-sidenav-hidden">
  {% include 'partials/upper.html' %}

  {% include 'partials/sidebar.html' %}

  <main class="main-content position-relative border-radius-lg">
    {% include 'partials/navbar.html' %}

    <div class="container-fluid py-4">
      <div class="row main-container">
        <div class="col-12">
          <div class="card">
            <div class="card-header p-3">
              <h5 class="mb-2">EPG Report</h5>
              <p class="mb-0">Generate the required Emergency Response Guides for your Hazardous Material shipment.</p>
            </div>
            <div class="card-body p-3">
              <div class="home-container">
                <div class="dropzone-container">
                  <form action="./upload" class="dropzone text-center"></form>
                  <section class="loading-container hidden">
                    <img src="{{ url_for('static', filename='images/dgfinder_loader.svg')}}">
                  </section>
                </div>
              </div>
              <div class="search-container row" style="display: none;">
                <div class="col-md-6 pdf-viewer">
                </div>
                <div class="col-md-6">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped table-results">
                      <thead>
                        <th>No</th>
                        <th>Un Number</th>
                        <th>Proper Shipping Name</th>
                        <th>Class</th>
                        <th>Actions</th>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                  <button class="btn btn-success float-end" id="btnPdfGenerate">Generate PDF</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'partials/footer.html' %}

    </div>
  </main>

  {% include 'partials/sidenav.html' %}

  <input type="hidden" class="filename" />
  <script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='popper.min.js')}}"></script>
  <script src="{{ url_for('static', filename='dropzone.js')}}"></script>
  <script src="{{ url_for('static', filename='js/core/bootstrap.min.js')}}"></script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="{{ url_for('static', filename='js/argon-dashboard.js')}}"></script>
  <script>
    let PDFFILE = "";

    $(document).ready(function() {
      $(".dropzone-container form span").html(
        "<div class='pdf-image-wrapper'>" +
        "<img class='commonImage' src='{{ url_for('static', filename='images/frame.png')}}' /></div>" +
        "<button class='btn btn-default btn-upload-document' type='button'>" +
        "<img class='commonImage' src='{{ url_for('static', filename='images/Vector.png')}}'/>" +
        "Upload Hazard Manifest</button><div><div class='drag-drop-desc'><small>or drag and drop</small></div>" +
        "<div class='document-type-desc'><small>(pdf, doc, docx)</small></div></div>"
      );

      Dropzone.options.Dropzone = {
          maxFiles: 1,
          acceptedFiles: "application/pdf",
          addRemoveLinks: true
      };

      $("body").on("click", ".btn-search", function(e) {
	    	e.preventDefault();

	    	let filename = $(".filename").val();
	    	if (filename !== "") {
	    		$(".loading-container").removeClass("hidden");
	    		$(".dropzone-container > form").addClass("hidden");
		    	$(".btn-search .search-loading").show();
		    	$(".btn-search span").text("");
		    	$(".btn-search img").hide();
		    	$(this).attr("disabled", "disabled");

          let data = {"filename": filename};
	    		$.ajax({
	    			url: 'search-epg-report',
            data: JSON.stringify(data),
            contentType: "application/json",
	    			dataType: "json",
	    			type: "POST",
	    			success: function(response) {
	    				$(".pdf-viewer").html("<iframe src=" + response[1] + "></iframe>");

    					$(".home-container").hide();
    					$(".search-container").show();
	    				$(".loading-container").addClass("hidden");
    					$(".dropzone-container > form").addClass("hidden");
	    				$(".btn-search .search-loading").hide();
    					$(".btn-search").removeAttr("disabled");
		    			$(".btn-search span").text("Search");
		    			$(".btn-search img").show();

              let search_tbody_str = "";
	    				if(response[0].length > 0) {
                let list = response[0];
                for (let i = 0; i < list.length; i++) {
                  search_tbody_str += "<tr><td>" + (i + 1).toString() + "</td>" +
                    "<td class='un-number'>" + list[i][1] + "</td>" +
                    "<td>" + list[i][2] + "</td><td>" + list[i][4] + "</td>";
                  search_tbody_str += "<td><div class='form-check d-flex justify-content-center'>"
                    + "<input class='form-check-input add-to-print' type='checkbox' /></div></td>";
                  search_tbody_str += "</tr>";
							  }
	    				} else {
	    					search_tbody_str = "<tr><td colspan=\"5\">No matched keywords</td></tr>";
	    				}
						  $(".search-container tbody").html(search_tbody_str);
	    			}
	    		});
	    	} else {
	    		alert("No file uploaded.");
	    	}
	    });

      $("#btnPdfGenerate").click(function () {
        let unNumberList = $("table.table-results td input[type=checkbox].add-to-print").map(function () {
          if ($(this).is(':checked')) {
            return $(this).closest("tr").find('td.un-number').text();
          }
        }).get();

        let data = {"un_number_list": unNumberList};
        $.ajax({
          url: 'compile-epg-guides',
          data : JSON.stringify(data),
          contentType: "application/json",
          dataType: "json",
          type: "POST",
          success: function(response) {
            const url = response["url"];
            if (url) {
              window.open(url, "_blank");
            }
          }
        });
      });
    });
  </script>
</body>

</html>